html{height: 100%; width: 100%;}
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    height: 100%;
    width: 100%;
    background-image: url(../images/usbus.jpg);
    background-size: cover;
/*    background-position: 100;*/
    background-attachment: fixed;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.content-section{
    position: relative;
    display: block;
    float: left;
    width: 100%;
/*    min-width: 850px;*/
}
#map{
    display: block;
    float: left;
    width: 300px;
    height: 250px;
}

div.big, div.small{
    position: relative;
    display: block;
    float: right;
    padding: 0 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;     
}

.big,.small{ width: 100%; }




@media only screen and (min-width: 770px){
    div.big,div.small{
        float: left;
        height: 100%;
    }

    div.big{
        width: 61.8%;
    }
    
    div.small{ 
        width: 38.2%;
    }
}

section {
    padding-top: 55px;
    max-width: 1280px;
}

.big, .small {
    
}

.big > div, .small > div, map  {
    background: #66688E;
    box-shadow: 0 0 1px black;
    border-radius: 1px;
    padding: 10px;
    line-height: 1.3em;
    margin: 10px 0;
    float: left;
}



.big > img, .small > img{
    width: 100%;
    height: auto;
}

.big > div p {
    font-family: 'Cherry Swash', serif;
    color: black;

}
.centered{
    text-align:center;
}

.big a{
    color:white;
}

ul li a{ white-space:nowrap;}
section nav ul li a ,
section nav ul li a:visited {
    text-decoration: none;
    /*line-height: 1em;*/

}

section nav ul{
    list-style-type: none;
    padding:0;

}

section nav ul li{
    overflow: hidden;
}



#site_nav{
    font-size: 18px;
    position: fixed;
    background: #66688E;
    height: 55px;
    z-index: 999;
    width: 100%;
    box-shadow: 0 1px 3px #111;
    display: block;
}

#site_nav.hidden{
    display: none;
}

#site_nav select{
    display: block;
    margin: auto;
    height: 100%;
    background: #66688E;   
    border:none;
    color: white;
    line-height: 100%;
}

#site_nav ul{
    width: 100%;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type:none;
    display: none;
}

#site_nav ul li{
    position: relative;
    float: left;
    margin: 0 8px;
}

#site_nav ul li div{
    position: relative;
    font-size: 2.5em;
    float: left;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

#site_nav a{
    color: #222;
    font-family: 'Amatic SC';
    font-size: 2.5em;
    text-decoration: none;
}

#site_nav a:hover, #site_nav a.active{
    color: white;
    font-weight: bold;
}

#site_nav ul li div{
    height: 100%;
    width: 50px;
    background-image:url(../images/heart.svg);
}

@media only screen and (min-width: 770px){
    #site_nav select{
        display: none;   
    }
    
    #site_nav ul{
        display: block;
    }
}



#main{
/*    background: #1C1C1C ;*/
    padding-top: 0;
    
}
#main .big{
/*    background: #1C1C1C url(../images/bench.png) no-repeat;*/
/*    background-position: center bottom;*/
}

#main nav ul{
    
}

#main nav a{
    color: #66688E;
    line-height: .75em;
    font-family: 'Amatic SC';
}
#main nav a:hover{
    color: white;
}
#main nav li{
    position: relative;
}

#whatLink{

}
#whatLink a, #whatLink a:visited{
    
    /*font-family: 'Cherry Swash', cursive;*/
}

#whereLink{
}
#whereLink a,#whereLink a:visited{
    /*font-family: 'Molle', cursive;*/
    
}

#whoLink{
}
#whoLink a,#whoLink a:visited{
    /*font-family: 'Mystery Quest', cursive;*/
}

#photosLink{

}
#photosLink a, #photosLink a:visited{
    /*font-family: 'Amatic SC';*/
}

#guestbookLink{

}
#guestbookLink a, #guestbookLink a:visited{
    /*font-family: 'Leckerli One';*/

}
#registryLink{

}
#registryLink a, #registryLink a:visited{
    /*font-family: 'Nixie One';*/

}
h1.title{
    float: left;
    font-size: 4em;
    color:white;
    text-shadow: 1px 1px 5px black;
    font-family: 'Amatic SC';
    white-space: nowrap;
    margin: 0;
    padding: 0;
    display: block;
}
h1.sidetitle{
    display: none;
}

@media only screen and (min-width: 770px){
    h1.title{
        display: none;
    }
    h1.sidetitle {
        transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        transform-origin: left top;
        -webkit-transform-origin: left top;
    }   

    h1.sidetitle{
        positon: relative;
        top: 0;   
        font-size: 9em;
        color:white;
        text-shadow: 1px 1px 5px black;
        margin-left: 50%;
        font-family: 'Amatic SC';
/*        margin-top: -2px;*/
        white-space: nowrap;
        display: block;
    }
}

/** Main Seciton **/
#main ul {
    list-style-type: none;
    padding:0;
    
}
#main ul li {
    font-size: 6em;
}

#main ul li a {
    text-decoration:none;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: 'Amatic SC';
    font-weight: bold;
}

#main ul li a:hover {
    text-decoration:none;
    color: white;
    text-shadow: 1px 1px 7px #66688E;
    font-family: 'Amatic SC';
    font-weight: bold;
}




#main .big h1{
 color:white;
    text-align:center;
    
}
#main .small{
/*    background: #1d1b1b;*/
}
#main .subsection{
    background: #66688E;
    padding: 10px;
    width: 100%;
    max-width: 150px;

}
#main .subsection a, #main .subsection a:visited{
    color: #1C1C1C;
}
#main .subsection a:hover, #main #whatLink a, #main #whatLink a:visited{
    color: white;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
